<a href="https://colab.research.google.com/github/Na-Nazhou/DataScience/blob/master/Pandas%2BPlotly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a DataFrame with **List of Lists**

In [0]:
import pandas as pd
data = [
        ['Alex', 20, 1050],
        ['Bob', 52, 1400],
        ['Cat', 23, 1690]
]
df = pd.DataFrame(data, columns = ['name', 'age', 'salary'])
df

   name  age  salary
0  Alex   20    1050
1   Bob   52    1400
2   Cat   23    1690

Create a DataFrame with **List of Dictionaries**

In [0]:
import pandas as pd
data = [
        {'name': 'Alex', 'age': 20, 'salary': 1050},
        {'name': 'Bob', 'age': 52, 'salary': 1400},
        {'name': 'Cat', 'age': 23, 'salary': 1690}
]
df = pd.DataFrame(data, columns = ['name', 'age', 'salary'])
df

   name  age  salary
0  Alex   20    1050
1   Bob   52    1400
2   Cat   23    1690

Create a DataFrame with **Dictionary**

In [0]:
import pandas as pd
student = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon"]
classroom = ["A","A","B","A","B","B","B"]
age = [15,15,16,17,15,18,15]
score =  [80,82,95,70,67,98,85]
data = {"Student": student, "Class":classroom, "Age": age,"Score": score}
df = pd.DataFrame(data)
df

  Student Class  Age  Score
0    Anna     A   15     80
1     Bob     A   15     82
2    Cass     B   16     95
3  Darius     A   17     70
4  Eugene     B   15     67
5  Felica     B   18     98
6  Gordon     B   15     85

**read_csv()**

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')
df

          country  ... Estimated incidence (all forms) per 100 000 population
0     Afghanistan  ...                                              190.0
1     Afghanistan  ...                                              189.0
2     Afghanistan  ...                                              189.0
3     Afghanistan  ...                                              189.0
4     Afghanistan  ...                                              189.0
...           ...  ...                                                ...
3646     Zimbabwe  ...                                              355.0
3647     Zimbabwe  ...                                              304.0
3648     Zimbabwe  ...                                              278.0
3649     Zimbabwe  ...                                              242.0
3650     Zimbabwe  ...                                              208.0

[3651 rows x 7 columns]

Extracting **Row** from DataFrame: **loc[index]**

In [0]:
import pandas as pd
data = [
        {'name':'Alex','age':20,'salary':1050},
        {'name':'Bob','age':52,'salary':1400},
        {'name':'Cat','age':23,'salary':1690}
]

df = pd.DataFrame(data,columns = ['name','age','salary'])
df.loc[0]

Extracting **Column** from DataFrame

In [0]:
import pandas as pd
data = [
        {'name':'Alex','age':20,'salary':1050},
        {'name':'Bob','age':52,'salary':1400},
        {'name':'Cat','age':23,'salary':1690}
]

df = pd.DataFrame(data,columns = ['name','age','salary'])
df['name']                                                                             #or df.name but do not recommend

Grouping & Aggregation: **groupby, agg**

In [0]:
import pandas as pd
student = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon"]
classroom = ["A","A","B","A","B","B","B"]
age = [15,15,16,17,15,18,15]
score =  [80,82,95,70,67,98,85]
data = {"Student": student, "Class":classroom, "Age": age,"Score": score}
df = pd.DataFrame(data)

class_score = df.groupby('Class').agg({'Score': ['mean', 'min', 'max', 'median']})
class_score

Grouping by Multiple Columns

In [0]:
import pandas as pd

student = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon"]
classroom = ["A","A","B","A","B","B","B"]
age = [15,15,16,17,15,18,15]
score =  [80,82,95,70,67,98,85]
data = {"Student": student, "Class":classroom, "Age": age,"Score": score}
df = pd.DataFrame(data)

class_score = df.groupby(['Class','Age']).agg({'Score': ['mean', 'min', 'max']})
class_score

**Filtering**: Select Rows Based on Value of Column

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')

# boolean expression
df['year'] == 2002

# year_2002 = df[(df['year'] == 2002)]
# year_2002

Select Rows Whose Column Value Does NOT Equal a Specific Value

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')

year_not_2002 = df[(df['year'] != 2002)]
year_not_2002

Select Not Null: **notnull()**

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')

df_not_null = df[df.year.notnull()]
df_not_null

Select a list of years: **isin**

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')

years = [2002,2008]
selection = df[df.year.isin(years)]
selection

Select Rows Based on Values Not in List: **~**

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')

years = [2002,2008]
selection = df[~df.year.isin(years)]

selection

Select Rows Using Multiple Conditions: **&**

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')

years = [2002,2008]
country = ["Singapore"]
selection = df[df.year.isin(years) & df.country.isin(country)]
selection

Demo

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')

sg = df[(df['country'] == 'Singapore')]
sg['Estimated incidence (all forms) per 100 000 population'].sum()

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')

#part 1
year = df[ (df['year'] == 2008)]
print(year['Estimated incidence (all forms) per 100 000 population'].sum())

#part 2
zimbabwe = df[(df['country'] == 'Zimbabwe')]
print(zimbabwe['Estimated incidence (all forms) per 100 000 population'].sum())

In [0]:
import pandas as pd
df = pd.read_csv('unit05-data.csv')

selection = df[df.year.isin(range(2004,2009)) & ~df.country.isin(['Singapore'])]
selection

**Concatenate** DataFrames by **Rows**:

In [0]:
import pandas as pd
student1 = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon"]
classroom1 = ["A","A","B","A","B","B","B"]
age1 = [15,15,16,17,15,18,15]
score1 =  [80,82,95,70,67,98,85]
data1 = {"Student": student1, "Class": classroom1, "Age": age1,"Score": score1}
df1 = pd.DataFrame(data1)

student2 = ["Charlie","James","Ethan"]
classroom2 = ["C","C","C"]
age2 = [16,17,18]
score2 = [95,77,80]
data2 = {"Student": student2, "Class": classroom2, "Age": age2,"Score": score2}
df2 = pd.DataFrame(data2)

df_row = pd.concat([df1, df2], ignore_index=True)
df_row

**Concatenate** DataFrames by **Column**

In [0]:
import pandas as pd
student1 = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon"]
classroom1 = ["A","A","B","A","B","B","B"]
age1 = [15,15,16,17,15,18,15]
score1 =  [80,82,95,70,67,98,85]
data1 = {"Student": student1, "Class": classroom1, "Age": age1,"Score": score1}
df1 = pd.DataFrame(data1)

student2 = ["Charlie","James","Ethan"]
classroom2 = ["C","C","C"]
age2 = [16,17,18]
score2 = [95,77,80]
data2 = {"Student": student2, "Class": classroom2, "Age": age2,"Score": score2}
df2 = pd.DataFrame(data2)

df_row = pd.concat([df1, df2], ignore_index=True, axis=1)
df_row

**Merge** DataFrames: **merge**

In [0]:
import pandas as pd
student1 = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon"]
classroom1 = ["A","A","B","A","B","B","B"]
age1 = [15,15,16,17,15,18,15]
score1 =  [80,82,95,70,67,98,85]
data1 = {"Student": student1, "Class": classroom1, "Age": age1,"Score": score1}
df1 = pd.DataFrame(data1,columns = ['Student', 'Class', 'Age', 'Score'])

student2 = ["Charlie","James","Ethan"]
classroom2 = ["C","C","C"]
age2 = [16,17,18]
score2 = [95,77,80]
data2 = {"Student": student2, "Class": classroom2, "Age": age2,"Score": score2}
df2 = pd.DataFrame(data2, columns = ['Student', 'Class', 'Age', 'Score'])

df_row = pd.concat([df1, df2], ignore_index=True)

student3 = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon","Charlie","James","Ethan"]
id3 = [1,2,3,4,5,6,7,8,9,10]
data3 = {"Student":student3, "id":id3}
df3 = pd.DataFrame(data3, columns = ['Student', 'id'])

df_merge_col = pd.merge(df_row, df3, on="Student")
df_merge_col

**Pivoting** in Pandas: **pivot_table**

In [0]:
import pandas as pd
student1 = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon"]
classroom1 = ["A","A","B","A","B","B","B"]
age1 = [15,15,16,17,15,18,15]
score1 =  [80,82,95,70,67,98,85]
data1 = {"Student": student1, "Class":classroom1, "Age": age1,"Score": score1}
df1 = pd.DataFrame(data1,columns = ['Student', 'Class', 'Age', 'Score'])

student2 = ["Charlie","James","Ethan"]
classroom2 = ["C","C","C"]
age2 = [16,17,18]
score2 = [95,77,80]
data2 = {"Student": student2, "Class":classroom2, "Age": age2,"Score": score2}
df2 = pd.DataFrame(data2, columns = ['Student', 'Class', 'Age', 'Score'])

df_row = pd.concat([df1, df2], ignore_index=True)
student3 = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon","Charlie","James","Ethan"]
id3 = [1,2,3,4,5,6,7,8,9,10]

data3 = {"Student":student3, "id":id3}
df3 = pd.DataFrame(data3,columns = ['Student', 'id'])

df_merge_col = pd.merge(df_row, df3, on="Student")
print(df_merge_col)

df_merge_col.pivot_table(index="Class", columns="Age", values="Score", aggfunc=['max', 'min'])

Set Missing Values To 0: **fill_value**

In [0]:
import pandas as pd
student1 = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon"]
classroom1 = ["A","A","B","A","B","B","B"]
age1 = [15,15,16,17,15,18,15]
score1 =  [80,82,95,70,67,98,85]
data1 = {"Student": student1, "Class":classroom1, "Age": age1,"Score": score1}
df1 = pd.DataFrame(data1,columns = ['Student', 'Class', 'Age', 'Score'])

student2 = ["Charlie","James","Ethan"]
classroom2 = ["C","C","C"]
age2 = [16,17,18]
score2 = [95,77,80]
data2 = {"Student": student2, "Class":classroom2, "Age": age2,"Score": score2}
df2 = pd.DataFrame(data2, columns = ['Student', 'Class', 'Age', 'Score'])

df_row = pd.concat([df1, df2], ignore_index=True)
student3 = ["Anna","Bob","Cass","Darius","Eugene","Felica","Gordon","Charlie","James","Ethan"]
id3 = [1,2,3,4,5,6,7,8,9,10]

data3 = {"Student":student3, "id":id3}
df3 = pd.DataFrame(data3,columns = ['Student', 'id'])

df_merge_col = pd.merge(df_row, df3, on="Student")
df_merge_col

df_merge_col.pivot_table(index="Class", columns="Age", values="Score", fill_value = 0)

Output DataFrame to csv: **to_csv**

In [0]:
df_merge_col.to_csv (r'df_merge_col.csv', index=False, header=True)

Data Cleaning: **dropna**

In [0]:
import pandas as pd
df = pd.read_excel("MissingData.xls")

# Remove rows 
df = df.dropna()
print(df)

# Remove columns
df = df.dropna(axis = 1)
df

Data Imputation: **fillna**

In [0]:
import pandas as pd
df = pd.read_excel("MissingData.xls", typ = "series")

m = df.Age.mean()
df["Age"] = df["Age"].fillna(m)
df

Plotting **Histogram**: **px.histogram**

In [0]:
import pandas as pd
import plotly.express as px

x = [84, 65, 78, 75, 89, 59, 90, 88, 83, 72, 91, 90, 73, 54]
df = pd.DataFrame(x, columns = ['x'])
data = px.histogram(df, x = 'x')
data

Plotting **Boxplot**: **px.box**

In [0]:
import pandas as pd
import plotly.express as px

y1 = [84, 65, 78, 75, 89, 59, 90, 88, 83, 72, 91, 90, 73, 54]
df = pd.DataFrame(y1, columns = ['y1'])
data = px.box(df, y = 'y1')
data

In [0]:
data = px.box(df_merge_col, y = 'Age', x = 'Class')
data

Plotting **Bar Graphs**: **px.bar**

In [0]:
import pandas as pd
import plotly.express as px

foodItemList = ['sushi', 'pizza', 'hamburger', 'fried chicken']
numberList = [2, 5, 4, 3]
df = pd.DataFrame({'Food Item': foodItemList, 'Number of Students': numberList})
data = px.bar(df, x = 'Food Item', y = 'Number of Students')
data

Plotting **Pie-Chart**: **px.pie**

In [0]:
import pandas as pd
import plotly.express as px

foodItemList = ['sushi', 'pizza', 'hamburger', 'fried chicken']
numberList = [2, 5, 4, 3]
df = pd.DataFrame({'Food Item': foodItemList, 'Number of Students': numberList})
data = px.pie(df, names = 'Food Item', values = 'Number of Students')
data

**read_json()**

In [0]:
import pandas as pd

json_str= '{"country":"Netherlands","timezone":"Europe\/Amsterdam","ip":"46.19.37.108","continent_code":"EU","longitude":5.75,"latitude":52.5,"country_code":"NL"}'
data = pd.read_json(json_str, typ = "series")
print("Series\n", data)

In [0]:
import pandas as pd

json_str= '{"firstName":"Mona","lastName":"Tan","nationality":"Singapore"}'
data = pd.read_json(json_str, typ = "series")
print("My Info\n", data)

In [0]:
import pandas as pd
df = pd.read_json('example_1.json', typ ='series')

df

**read_excel()**

In [0]:
import pandas as pd
df = pd.read_excel("MissingData.xls")
df

In [0]:
import pandas as pd
df = pd.read_excel('unit05_data.xls',typ = 'series')
df

In [0]:
import pandas as pd
df = pd.read_excel('unit05_data.xls',typ = 'series')

gender_and_country = df[(df['Gender']=='Female') & (df['Country']== "United States")]
gender_and_country

In [0]:
import pandas as pd
df = pd.read_excel ('Unit05-Demo53.xls',typ='series')

age_and_date =  df[ (df['Age'] >= 25) & (df['Date'] == '21/05/2015') ] 
age_and_date['First Name'].count()

**XML** in Python

In [0]:
import xml.etree.ElementTree as ET

tree = ET.parse("Unit 05 - XML Sample Data.xml")
root = tree.getroot()
for child in root:
  print(child.tag , child.attrib)

**XML** in Pandas

In [0]:
#parsing xml file and storing in Dataframe
import xml.etree.ElementTree as ET
import pandas as pd

tree = ET.parse("Unit 05 - XML Sample Data.xml")

dfcols = ["Country", "rank", "year", "GDP"]
df_xml = pd.DataFrame(columns = dfcols)

for node in tree.getroot():
    name = node.attrib.get("name")
    rank = node.find("rank").text
    y = node.find("year").text
    gdppc = node.find("gdppc").text
    df_xml = df_xml.append(pd.Series([name,rank,y,gdppc], index = dfcols),ignore_index = True)

df_xml

Demo

In [0]:
import pandas as pd
import xml.etree.ElementTree as ET

tree = ET.parse('breakfast_menu.xml')

dfcols = ["food", "price", "description", 'calories']
df_xml = pd.DataFrame(columns=dfcols)

for node in tree.getroot():
    name = node.find('name').text
    price = node.find('price').text
    description = node.find('description').text
    calories = node.find('calories').text
    
    df_xml = df_xml.append( pd.Series([name , price, description, calories],index=dfcols) , ignore_index =True)
    
df_xml